* {
    font-family: Roboto, Serif;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

body {
    max-width: 100vw;
    overflow-x: hidden;
    background-color: #f7f7f7;
}

.content {
    padding: 0.5rem;

    h1 {
        color: red;
    }
}

@media screen and (min-width: 576px) {
    .content {
        max-width: 576px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        margin: 0 auto;
    }
}

.popup {
    transition: all 0.1s ease-in;
    padding: 20px;
    display: grid;
    grid-template-areas:
        "header"
        "hero";
    grid-template-rows: 1fr 85%;
    grid-template-columns: 100%;
    position: fixed;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 24rem;
    width: 30rem;
    box-shadow: 0px 0px 11px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;

    background: linear-gradient(
        135deg,
        rgba(255, 255, 255, 0.17) 30%,
        rgba(50, 50, 50, 0.17) 70%,
        rgba(0, 0, 0, 0.3) 100%
    );

    .popup-header {
        grid-area: header;
        display: flex;
        justify-content: space-between;
        align-items: center;

        #popup-poke-name {
            font-size: 3rem;
            font-family: "Lilita One", sans-serif;
            font-weight: 400;
            font-style: normal;
            color: #282828;
        }

        #popup-close-button {
            padding: 8px;
            background-color: rgba(0, 0, 0, 0.04);
            font-size: 1.4rem;
            border: none;
            border-radius: 5px;
        }
    }

    .popup-main {
        grid-area: hero;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        column-width: 20px;

        img {
            height: 100%;
            width: 100%;
        }

        & > :last-child {
            display: flex;
            flex-direction: column;
            justify-content: center;

            #popup-poke-type {
                font-size: 1.2rem;
                color: #000;
                
            }
        }
    }
}

.popup-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
}

.disable {
    opacity: 0;
    z-index: -2;
}

.activate {
    opacity: 1;
    z-index: 3;
}

.activate-background {
    opacity: 1;
    z-index: 2;
}

.pokemons {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit), minmax(136px, 1fr);

    .pokemonCard {
        border-radius: 1rem;
        margin: 0.5rem;
        padding: 1rem;

        &:hover {
            cursor: pointer;
            box-shadow: 0px 0px 11px 5px rgba(0, 0, 0, 0.1);
        }
    }

    .pokemon {
        display: flex;
        flex-direction: column;
        color: #000000;

        .detalhes {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }

        .number {
            color: black;
            text-align: right;
            opacity: 0.3;
        }

        .nome {
            color: #000000;
            border-radius: 10px;
            width: 5rem;
            padding-left: 3px;
            margin-bottom: 0;
        }

        .detalhes img {
            max-width: 100%;
            height: 6rem;
            box-sizing: border-box;
            align-self: self-end;
        }

        .tipo {
            color: #000000;
            background: #0000000c;
            border-radius: 1rem;
            padding: 0.5rem 1rem;
            font-size: 0.625rem;
            margin: 0.25rem 0;
        }
    }
}

@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
